{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mi Landing Page</title>
  <link rel="stylesheet" href="{% static 'LeoJy/style.css' %}">

</head>
<body>
  <header>
    Mi Proyecto Genial
  </header>
  <main>
    <h1>Bienvenido a Mi Landing Page</h1>
    <p>Descubre lo que tenemos para ti. Únete y comienza a disfrutar de las mejores experiencias con nuestro producto.</p>
    <a href="#contacto" class="btn-primary">Contáctanos</a>
  </main>
  <footer>
    &copy; 2025 Mi Proyecto Genial. Todos los derechos reservados.
  </footer>
</body>
</html>